h1{
    text-align:center;
    border: 10px double white;

}

.row{   
    display:flex;
    justify-content: space-around;
    Background-color: lavender;
    color:white;
    font-size:20px;
    width: 100%;
}
html{
    
    background: radial-gradient(#42ebf4, #f7adf1, #f7f576);
}

a:link {
color: whitesmoke;
}
a:visited {
color: #db08db;
}
a:hover {
color: #c9c9ff;
}